.container {
  width: 100%;
  height: 100%;
  background: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__left-container,
  &__right-container {
    width: 45%;
    height: 90%;
    background: white;
  }

}
